* {
  --yomikata-yellow: #f3e044;
}

#popup {
    position: fixed;
    background-attachment: scroll;
    top: 0;
    background-color: var(--yomikata-yellow);
    border-style: dotted;
    min-width: 400px;
    min-height: 600px;
    z-index: 100;
  }

  .highlighted {
    background-color: lightblue;
  }